<?xml version="1.0" encoding="UTF-8"?>

<phpunit
    bootstrap="./tests/bootstrap.php"
    colors="true"
>
    <testsuites>
        <testsuite name="GOFPatterns Test Suite">
            <directory suffix="Test.php">./tests/GOFPatterns/Test/</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory suffix=".php">./src/GOFPatterns/</directory>
        </whitelist>
    </filter>
</phpunit>
